<style>

</style>


<div id="shiftWrapper">
    <h4>Shifts</h4>

    <div></div>

    <div class="row">
        <div class="col-xs-12">

        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            Priority Scheduling (top to bottom)
        </div>
        <div class="panel-body">
            
            <div class="list-group">
                <a class="list-group-item" ng-repeat="shift in vm.shifts">
                    <div class="row">
                        <div class="col-xs-10">{{shift.name}}</div>
                        <div class="col-xs-2">
                            <i class="fa fa-ellipsis-v pull-right"></i>
                        </div>
                    </div>
                </a>
            </div>


            <ul class="list-group" ui-sortable ng-model="vm.shifts">
                <li class="list-group-item" ng-repeat="s in vm.shifts">{{ s.name }}</li>
            </ul>

        </div>
    </div>

</div>