<style>
    .noRecords {
        font-weight: bold;
        color: #696969;
    }
</style>


<div id="shiftWrapper">

    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Priority Scheduling (top to bottom)
                </div>
                <div class="panel-body">

                    <ul class="list-group" ui-sortable="vm.sortableOptions" ng-model="vm.shifts">
                        <li class="list-group-item" ng-repeat="item in vm.shifts">
                            <div class="row">
                                <div class="col-xs-1">
                                    <i class="fa fa-ellipsis-v pull-left"></i>
                                </div>
                                <div class="col-xs-6">{{item.name}}</div>
                                <div class="col-xs-5">{{item.staff}}</div>

                            </div>
                        </li>

                        <li class="list-group-item noRecords" ng-show="vm.showListMsg">
                            <div class="row">
                                <div class="col-xs-12 text-center">
                                    <i class="fa fa-spin" ng-class="'fa-refresh'"></i> {{vm.listMsg}}
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>

        </div>
    </div>


</div>
