<style>
    .gridbox {
        margin-top: 2px;
    }

    .gridbox a {
        text-decoration: none;
        vertical-align:middle;
    }

    table td {
        padding:2px;
    }
</style>


<div id="scheduleWrapper">
    <h4>Schedules</h4>

    <div></div>

    <div class="row">
        <div class="col-xs-12">
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Week of: xx/xx/xxxx - xx/xx/xxxx
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-primary btn-sm" ng-click=""><i class="fa" ng-class="'fa-arrow-down'"></i> Expand</button>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-body">
                    <div>
                        <h4>AM Shifts</h4>
                        <nvd3 options="vm.chartOptions" data="vm.chartDataAM"></nvd3>
                    </div>
                    <div>
                        <h4>PM Shifts</h4>
                        <nvd3 options="vm.chartOptions" data="vm.chartDataPM"></nvd3>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Week of: xx/xx/xxxx - xx/xx/xxxx
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-primary btn-sm" ng-click=""><i class="fa fa-calendar-plus-o"></i> Run</button>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-body">

                    <table class="table table-striped">
                        <thead>
                            <tr class="">
                                <th class="text-center">Employee</th>
                                <th class="text-center" colspan="2">
                                    <button type="button" class="btn btn-default">Sun</button>
                                </th>
                                <th class="text-center" colspan="2">Mon</th>
                                <th class="text-center" colspan="2">Tue</th>
                                <th class="text-center" colspan="2">Wed</th>
                                <th class="text-center" colspan="2">Thu</th>
                                <th class="text-center" colspan="2">Fri</th>
                                <th class="text-center" colspan="2">Sat</th>
                                <th class="text-center">Totals</th>
                            </tr>
                            <tr class="">
                                <th></th>
                                <th class="text-center">AM</th>
                                <th class="text-center">PM</th>
                                <th class="text-center">AM</th>
                                <th class="text-center">PM</th>
                                <th class="text-center">AM</th>
                                <th class="text-center">PM</th>
                                <th class="text-center">AM</th>
                                <th class="text-center">PM</th>
                                <th class="text-center">AM</th>
                                <th class="text-center">PM</th>
                                <th class="text-center">AM</th>
                                <th class="text-center">PM</th>
                                <th class="text-center">AM</th>
                                <th class="text-center">PM</th>
                                <th></th>
                            </tr>      
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <a class="btn btn-block" ng-class="" ng-click="">
                                        <div>
                                             <i class="fa fa-user-circle fa-2x"></i>
                                            <div>
                                                <h5 class="">employeename</h5>
                                                <div class="userSubItem">scheduled</div>
                                            </div>
                                        </div>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>



                    <table class="table table-striped text-center">
                        <thead>
                        <tr class="text-center">
                            <th class="text-center">Employee</th>
                            <th class="text-center">Sun</th>
                            <th class="text-center">Mon</th>
                            <th class="text-center">Tue</th>
                            <th class="text-center">Wed</th>
                            <th class="text-center">Thu</th>
                            <th class="text-center">Fri</th>
                            <th class="text-center">Sat</th>
                            <th class="text-center">Totals</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="x in vm.employeeObj">
                            <td>
                                <a class="btn btn-block" ng-class="" ng-click="">
                                    <h5 class="">{{x.name}}</h5>
                                    <div class="">available</div>
                                    <div class="">scheduled</div>
                                </a>
                            </td>

                            <td ng-repeat="z in x.day">
                                <a class="btn btn-block" ng-class="vm.getStatusColor($parent.$index, $index, 0)" ng-click="vm.updSchedule($parent.$index, $index, 0)">
                                    <i class="fa" ng-class="vm.getStatusIcon($parent.$index, $index, 0)"></i> {{z.shift[0].name}}
                                </a>
                                <a class="btn btn-block" ng-class="vm.getStatusColor($parent.$index, $index, 1)" ng-click="vm.updSchedule($parent.$index, $index, 1)">
                                    <i class="fa" ng-class="vm.getStatusIcon($parent.$index, $index, 1)"></i> {{z.shift[1].name}}
                                </a>
                            </td>

                            <td>
                                <a class="btn btn-default btn-block"><i class="fa fa-calendar-o "></i> 0</a>
                                <a class="btn btn-default btn-block"><i class="fa fa-calendar-o "></i> 0</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
