<style>
    .gridbox {
        margin-top: 2px;
    }

    .gridbox a {
        text-decoration: none;
        vertical-align:middle;
    }

    .pIcon {
        padding-right: 10px;
    }

    table td {
        padding:2px;
    }

    #employeeDetails {
        color: #ffffff;
        width: 300px;
        height: 100%;
        z-index: 100;
        position: absolute;
        top: 0;
        right: 0;
        padding: 15px;

        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+84,0+100 */
        background: -moz-linear-gradient(rgba(0,0,0,0.85) 100%, rgba(0,0,0,0.85) 100%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(rgba(0,0,0,0.85) 100%,rgba(0,0,0,0.85) 100%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(rgba(0,0,0,0.85) 100%,rgba(0,0,0,0.85) 100%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    }

    #employeeDetails .header {
        font-size: 26px;
        font-weight: bold;
    }

    #employeeDetails .btnCollapse {
        color: #ffffff;
    }
</style>

<div id="employeeDetails" ng-show="vm.showEmployeeDetails">
    <div id="heading" class="row">
        <div class="col-xs-10">
            employee name
        </div>
        <div class="col-xs-2 pull-right">
            <a class="btnCollapse" ng-click="vm.showEmployeeDetails = !vm.showEmployeeDetails"><i class="fa fa-close"></i></a>
        </div>
    </div>
</div>

<div id="scheduleWrapper">
    <h4>Schedules</h4>

    <div></div>

    <div class="row">
        <div class="col-xs-12">
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Staffing Statistics -
                    Week of: xx/xx/xxxx - xx/xx/xxxx
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-primary btn-sm" ng-click="vm.showStaffStats = !vm.showStaffStats">
                            <i class="fa" ng-class="{'fa-plus':!vm.showStaffStats, 'fa-minus':vm.showStaffStats}"></i>
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-body" ng-show="vm.showStaffStats">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <h4>AM Shifts</h4>
                            <nvd3 options="vm.chartOptions" data="vm.chartDataAM"></nvd3>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <h4>PM Shifts</h4>
                            <nvd3 options="vm.chartOptions" data="vm.chartDataPM"></nvd3>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Week of: xx/xx/xxxx - xx/xx/xxxx <button type="button" class="btn btn-primary btn-sm" ng-click=""><i class="fa fa-caret-down"></i> </button>
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-primary btn-sm" ng-click="">Run <i class="fa fa-arrow-right"></i> </button>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                            <tr class="">
                                <th class="text-center">Employee</th>
                                <th class="text-center"><button type="button" class="btn btn-default btn-block">Sun</button></th>
                                <th class="text-center"><button type="button" class="btn btn-default btn-block">Mon</button></th>
                                <th class="text-center"><button type="button" class="btn btn-default btn-block">Tue</button></th>
                                <th class="text-center"><button type="button" class="btn btn-default btn-block">Wed</button></th>
                                <th class="text-center"><button type="button" class="btn btn-default btn-block">Thu</button></th>
                                <th class="text-center"><button type="button" class="btn btn-default btn-block">Fri</button></th>
                                <th class="text-center"><button type="button" class="btn btn-default btn-block">Sat</button></th>
                                <th class="text-center">Totals</th>
                            </tr>
                           
                        </thead>
                        <tbody>
                        <tr ng-repeat="i in vm.employee">
                            <!-- employee cell -->
                            <td class="text-left">
                                <a class="btn btn-default btn-block" ng-click="vm.showEmployeeDetails = !vm.showEmployeeDetails">
                                    <i class="fa fa-user-circle pIcon"></i> {{i.name}}
                                </a>
                            </td>

                            <!-- days of week cells -->
                            <td>
                                <a class="btn btn-block" ng-class="'btn-avail'" ng-click="vm.updSchedule()">
                                    <i class="fa" ng-class="'fa-plus'"></i> 
                                </a>
                            </td>
                            <td>
                                <a class="btn btn-block" ng-class="'btn-default'" ng-click="vm.updSchedule()">
                                    <i class="fa" ng-class="'fa-plus'"></i> 
                                </a>
                            </td>
                            <td>
                                <a class="btn btn-block" ng-class="'btn-default'" ng-click="vm.updSchedule()">
                                    <i class="fa" ng-class="'fa-plus'"></i>
                                </a>
                            </td>
                            <td>
                                <a class="btn btn-block" ng-class="'btn-default'" ng-click="vm.updSchedule()">
                                    <i class="fa" ng-class="'fa-plus'"></i>
                                </a>
                            </td>
                            <td>
                                <a class="btn btn-block" ng-class="'btn-default'" ng-click="vm.updSchedule()">
                                    <i class="fa" ng-class="'fa-times'"></i>
                                </a>
                            </td>
                            <td>
                                <a class="btn btn-block" ng-class="'btn-default'" ng-click="vm.updSchedule()">
                                    <i class="fa" ng-class="'fa-times'"></i>
                                </a>
                            </td>
                            <td>
                                <a class="btn btn-block" ng-class="'btn-muted'" ng-click="vm.updSchedule()">
                                    <i class="fa" ng-class="'fa-times'"></i>
                                </a>
                            </td>
                            <td>
                                <a class="btn btn-default btn-block"><i class="fa fa-calendar-o "></i> {{i.shifts}}</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>


                <!--
                <table class="table table-striped text-center">
                    <thead>
                    <tr class="text-center">
                        <th class="text-center">Employee</th>
                        <th class="text-center">Sun</th>
                        <th class="text-center">Mon</th>
                        <th class="text-center">Tue</th>
                        <th class="text-center">Wed</th>
                        <th class="text-center">Thu</th>
                        <th class="text-center">Fri</th>
                        <th class="text-center">Sat</th>
                        <th class="text-center">Totals</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="x in vm.employeeObj">
                        <td>
                            <a class="btn btn-block" ng-class="" ng-click="">
                                <h5 class="">{{x.name}}</h5>
                                <div class="">available</div>
                                <div class="">scheduled</div>
                            </a>
                        </td>

                        <td ng-repeat="z in x.day">
                            <a class="btn btn-block" ng-class="vm.getStatusColor($parent.$index, $index, 0)" ng-click="vm.updSchedule($parent.$index, $index, 0)">
                                <i class="fa" ng-class="vm.getStatusIcon($parent.$index, $index, 0)"></i> {{z.shift[0].name}}
                            </a>
                            <a class="btn btn-block" ng-class="vm.getStatusColor($parent.$index, $index, 1)" ng-click="vm.updSchedule($parent.$index, $index, 1)">
                                <i class="fa" ng-class="vm.getStatusIcon($parent.$index, $index, 1)"></i> {{z.shift[1].name}}
                            </a>
                        </td>

                        <td>
                            <a class="btn btn-default btn-block"><i class="fa fa-calendar-o "></i> 0</a>
                            <a class="btn btn-default btn-block"><i class="fa fa-calendar-o "></i> 0</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                 -->


                </div>
            </div>
        </div>
    </div>

</div>
